rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção de usuários
    match /users/{userId} {
      // Permitir leitura e escrita apenas para o próprio usuário
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Permitir criação de documento apenas se o UID do documento for igual ao UID do usuário autenticado
      allow create: if request.auth != null && 
                   request.auth.uid == userId &&
                   resource == null;
    }
  }
}